{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<style>
.login-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin: 20px;
}
    .submit-btn{
    margin-top: 10px;

    }

</style>




<div class="login-wrapper">

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

   

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUserLogin">User Login</label>
    <input type="text" value="{{ last_username }}" name="userLogin" id="inputUserLogin" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary submit-btn" type="submit">
        Sign in
    </button>
</form>

</div>
{% endblock %}
