{% extends 'base.html.twig' %}

{% block title %}New Etudiant{% endblock %}

{% block body %}
    <h1>Create new Etudiant</h1>

    {{ include('cru_detudiant/_form.html.twig') }}

    <a href="{{ path('app_c_r_u_detudiant_index') }}">back to list</a>
{% endblock %}
